.header-section {
    background: #FFFFFF;
    border: 1px solid #ECECEC;
}

.header-logo {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-menu {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header-contact {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header-menu-item:not(:last-child) {
    margin-right: 50px;
}

.header-menu-link {
    position: relative;
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primery-text-colour);
    /*--Додаємо плавність переходу--*/
    transition: var(--transition-dur-and-func);

    /*--Додаємо ефект наведення--*/
    &:hover,
    &:focus {
            color: var(--accent-color);}
}

/*--Додаємо підкреслювання на nav--*/
.current {
    color: var(--accent-color);

    &::after {
            position: absolute;
            content: '';
            left: 0;
            bottom: 0;
            border-radius: 2px;
            width: 100%;
            height: 4px;
            background-color: var(--accent-color);
            border-radius: 2px;
            transition: background-color var(--transition-dur-and-func);
            bottom: -33px;}

    .header-menu-link&:hover:after {
            background-color: var(--accent-color);}
}

.header-mail {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-colour);
    margin-right: 50px;
    transition: color var(--transition-dur-and-func);

    /*--Додаємо ефект наведення--*/
    &:hover,
    &:focus {
            color: var(--accent-color)}
}

.header-mail-icon {
    margin-right: 10px;
    fill: var(--secondary-text-colour);
    transition: fill var(--transition-dur-and-func);

    .header-mail:hover &,
    .header-mail:focus & {
            fill: var(--accent-color);}
}

.header-phone {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-colour);
    transition: color var(--transition-dur-and-func);

    &:hover,
    &:focus {
            color: var(--accent-color)}
}

.header-phone-icon {
    margin-right: 10px;
    fill: var(--secondary-text-colour);
    transition: fill var(--transition-dur-and-func);

    .header-phone:hover &,
    .header-phone:focus & {
            fill: var(--accent-color);}
}
